body {
  margin: 0;
  padding: 0;
}

.main {
	position: relative;
  padding-top: 20pt;
	background-color: rgb(39, 36, 36);
}

.title {
	text-align: center;
  color: aliceblue;
  text-shadow: 0 0 1cm red;
}

.video-item {
	text-align: center;
  color: aliceblue;
  text-shadow: 0 0 0.5cm red;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
  .title {
    font-size: 4vw;
  }
}
