body {
  margin: 0;
  padding: 0;
}

.main {
	position: absolute;
	background-color: antiquewhite;
}

.title {
	text-align: center;
}

.video-item {
	text-align: center;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
  .title {
    font-size: 4vw;
  }
}
